<!--<div class="image_background" style="background-image: url('assets/images/bgabout.jpg');">-->
<!--  <div>-->
<!--<div class="image_background"></div>-->

<div class="row usecaseinfo">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>{{ title }}</h3>
    <p>
      VFX forum is een applicatie waarin gebruikers vragen kunnen stellen en beantwoorden. Deze vragen hebben
      het thema Visual Effects. Ik vind dit zelf interessant, daarom heb ik ervoor gekozen het onderwerp
      hiermee te combineren. Er zijn 4 entiteiten. User, Message Board, Post en Comment. Een gebruiker kan een
      message board aanmaken, dit message board is gelinkt aan de gebruiker. Iedereen kan hierop dingen
      veranderen en aanpassen. Een post kan in een message board geplaatst worden door een gebruiker.
      Vervolgens kunnen andere gebruikers posts neerzetten op een message board. Gebruikers kunnen vervolgens
      comments achterlaten op posts. De diepte is dus Message board  Post  Comment. Beargumentatie keuze
      database: Voor de database wil ik gebruik gaan maken van MongoDB. Dit omdat er veel unieke data
      opgeslagen moet worden. Enkele voordelen van Mongo zijn dat je niet te maken hebt met keys, het goede
      performance heeft en data kan representeren in JSON. Daarnaast is het dynamisch omdat het geen vast
      schema heeft omdat je dit kan aanpassen. Ik wil gebruik maken van collecties van data, dit worden veel
      unieke collections, bijvoorbeeld gebruikersprofielen, posts, boards en comments. MongoDB is daarom best
      geschikt voor content management. Nadelen zijn dat het geen ACID principes kan garanderen en dat de
      systemen tightly coupled zijn. Het voordeel is echter dat je data in JSON formaat kan versturen van en
      naar de API zonder dat er een ORM aan te pas hoeft te komen. Een andere mogelijkheid had NEO4J geweest,
      maar NEO4J is vooral gericht op het leggen van relaties tussen nodes. De performance zou erg slecht
      worden als je heel veel verschillende nodes hebt. Een ander nadeel is dat de queries van NEO4JS (Cypher
      Query Language) aanzienlijk anders zijn dan die van MongoDB (JSON). MongoDB is een document based store
      en dit past het beste bij mijn wensen. Een key-value store en een column-based store sluiten minder goed
      aan bij het design wat ik voor ogen heb. Ik wil namelijk meer dan alleen key-value paren opslaan en ik
      wil niet alleen maar data uit 1 kolom. Ik heb gekozen voor MongoDB omdat er duidelijke documentatie
      beschikbaar is en omdat het verreweg de meest bekende document based store is.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Vincent Hendriks</h5>
        <p class="card-text">
          Studentnummer: 2139897
        </p>
      </div>
    </div>
  </div>
</div>

<img src="assets/images/models.png" />

<div class="row usecaseinfo">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
<!--</div>-->
<!--  </div>-->
<!--</div>-->
