#homediv {
  font-weight: bold;
  color: white;
  font-size: 60px;
  //top: 50%;
  //left: 50%;
  ////margin-right: -50%;
  //transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  border: 10px rgba(0, 0, 0, 0.4);
  //margin-left: 560px;
  // margin-top: 50%;
  margin-left: 20%;
  margin-top: 30%;
  //margin-top: 400px;
  padding: 10px;
  position: relative;
}

.starter-template {
  //margin-left: -300px;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video_background {
  z-index: -1;
}

.hometext {
  margin-left: 50px;
}

///* Style the video: 100% width and height to cover the entire window */
//#myVideo {
//  position: fixed;
//  right: 0;
//  bottom: 0;
//  min-width: 100%;
//  min-height: 100%;
//}
//
///* Add some content at the bottom of the video/page */
//.content {
//  position: fixed;
//  bottom: 0;
//  background: rgba(0, 0, 0, 0.5);
//  color: #f1f1f1;
//  width: 100%;
//  padding: 20px;
//}
//
///* Style the button used to pause/play the video */
//#myBtn {
//  width: 200px;
//  font-size: 18px;
//  padding: 10px;
//  border: none;
//  background: #000;
//  color: #fff;
//  cursor: pointer;
//}
//
//#myBtn:hover {
//  background: #ddd;
//  color: black;
//}
.homediv {
  cursor: grab;
}
.navbar-brand {
  cursor: grab;
}
