<div class="starter-template">
  <!--  <h1>Bootstrap starter template</h1>-->
  <!--  <p class="lead">-->
  <!--    &lt;!&ndash;    <video autoplay muted loop id="myVideo">&ndash;&gt;-->
  <!--    &lt;!&ndash;      <source src="https://www.youtube.com/watch?v=ULBrkaZAmJg" type="video/mp4">&ndash;&gt;-->
  <!--    &lt;!&ndash;      Your browser does not support HTML5 video.&ndash;&gt;-->
  <!--    &lt;!&ndash;    </video>&ndash;&gt;-->
  <!--  </p>-->

  <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <div class="video_background" style="padding:56.25% 0 0 0;position:relative;">
      <!--135727591-->
      <!--259234313-->
      <iframe
        src="https://player.vimeo.com/video/259234313?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1"
        style="position:absolute;top:0;left:0;width:100%;height:100%;"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>
<div id="homediv">
  <p class="hometext">Join the biggest VFX community</p>
</div>
