<!--<form class="form-signin">-->
<!--  <h2 class="form-signin-heading">Please sign in</h2>-->
<!--  <label for="inputEmail" class="sr-only">Username</label>-->
<!--  <input-->
<!--    [(ngModel)]="user.username"-->
<!--    name="username"-->
<!--    type="username"-->
<!--    id="inputEmail"-->
<!--    class="form-control"-->
<!--    placeholder="Username"-->
<!--    required-->
<!--    autofocus-->
<!--  />-->
<!--  <label for="inputPassword" class="sr-only">Password</label>-->
<!--  <input-->
<!--    [(ngModel)]="user.password"-->
<!--    name="password"-->
<!--    type="password"-->
<!--    id="inputPassword"-->
<!--    class="form-control"-->
<!--    placeholder="Password"-->
<!--    required-->
<!--  />-->
<!--  <div class="checkbox">-->
<!--    <label> <input type="checkbox" value="remember-me" /> Remember me </label>-->
<!--  </div>-->
<!--  <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin()" type="button">Sign in</button>-->
<!--</form>-->
<div class="bg">
  <h3 class="form-signin" *ngIf="activeTokenCheck()">You are already logged in!</h3>
  <form class="form-signin" *ngIf="activeTokenCheck() === false">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      name="email"
      [(ngModel)]="user.email"
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      name="password"
      [(ngModel)]="user.password"
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
    />
    <div class="checkbox">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin()" type="button">Sign in</button>
  </form>

  <h3 class="form-signin" *ngIf="activeTokenCheck()">Logout to create a new account!</h3>

  <form class="form-signin">
    <button
      type="button"
      (click)="logoutUser()"
      (click)="activeTokenCheck()"
      class="btn-primary form-signin"
      *ngIf="activeTokenCheck() === true"
    >
      Logout
    </button>
  </form>

  <form class="form-signin" *ngIf="activeTokenCheck() === false">
    <h2 class="form-signin-heading">Create a new account</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input
      name="username_register"
      [(ngModel)]="user.username"
      type="Username"
      id="inputUsername"
      class="form-control"
      placeholder="Username"
      required
    />

    <label for="inputEmail2" class="sr-only">Email</label>
    <input
      name="email_register"
      [(ngModel)]="user.email"
      type="email"
      id="inputEmail2"
      class="form-control"
      placeholder="Email Address"
      required
      autofocus
    />

    <label for="inputPassword2" class="sr-only">Password</label>
    <input
      name="password_register"
      [(ngModel)]="user.password"
      type="password"
      id="inputPassword2"
      class="form-control"
      placeholder="Password"
      required
    />
    <div class="checkbox">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="validateRegister()" type="button">
      Register
    </button>
  </form>

  <form class="form-signin" *ngIf="activeTokenCheck()">
    <h2 class="form-signin-heading">Change username</h2>
    <label for="inputUsername2" class="sr-only">New Username</label>
    <input
      name="username_register"
      [(ngModel)]="user.username"
      type="Username"
      id="inputUsername2"
      class="form-control"
      placeholder="Username"
      required
    />
    <label for="inputEmail3" class="sr-only">Email address</label>
    <input
      name="email"
      [(ngModel)]="user.email"
      type="email"
      id="inputEmail3"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <label for="inputPassword3" class="sr-only">Password</label>
    <input
      name="password"
      [(ngModel)]="user.password"
      type="password"
      id="inputPassword3"
      class="form-control"
      placeholder="Password"
      required
    />
    <button class="btn btn-lg btn-primary btn-block" (click)="validateChangeUsername()" type="button">
      Change Username
    </button>
  </form>
</div>
