<div class="list-group boardgroup">
  <a
    *ngFor="let board of boards"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ board.title }}</h5>
      <!--      <small>3 days ago</small>-->
    </div>
    <p class="mb-1">{{ board.description }}</p>
    <small class="url" (click)="boardClicked(board)">read more...</small>
  </a>
</div>
