<div class="list-group boardgroup">
  <a
    *ngFor="let comment of comments"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">{{ comment.content }}</p>
      <br />
      <div class="clickable">
        <small
          *ngIf="showModal != true"
          data-toggle="modal"
          data-target="#myModal2"
          (click)="showModal = true"
          >Commented by: {{ comment.user.username }}</small
        >
      </div>

      <!--      <small>3 days ago</small>-->

      <!-- Button to Open the Modal -->
      <!-- The Modal -->
      <div class="modal" id="myModal2" [ngClass]="{ show: showModal }">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">View Profile</h4>
              <button type="button" class="close" (click)="showModal = false" data-dismiss="modal">
                &times;
              </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <h4>Profile:</h4>
                  <p>{{ comment.user.username }}</p>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="showModal = false" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
