/* You can add global styles to this file, and also import other style files */
//.vertical-menu {
//  width: 200px; /* Set a width if you like */
//}
//
//.vertical-menu a {
//  background-color: #eee; /* Grey background color */
//  color: black; /* Black text color */
//  display: block; /* Make the links appear below each other */
//  padding: 12px; /* Add some padding */
//  text-decoration: none; /* Remove underline from links */
//}
//
//.vertical-menu a:hover {
//  background-color: #ccc; /* Dark grey background on mouse-over */
//}
//
//.vertical-menu a.active {
//  background-color: #4CAF50; /* Add a green color to the "active/current" link */
//  color: white;
//}

.vertical-nav {
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  opacity: 0.6;
  //margin-top: 100px;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.inmenu {
  opacity: 1;
  font-size: 30px;
}

.m-0 {
  opacity: 1;
  color: white;
  font-size: 40px;
  //margin-top: -10%;
}
.homediv {
  font-weight: bold;
  color: white;
  //position: relative;
}
