<div class="list-group boardgroup">
  <a *ngFor="let post of posts" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="clickable">
      <small
        class="profileModalOpenTrigger"
        *ngIf="showModal != true"
        data-toggle="modal"
        data-target="#myModal2"
        (click)="showModal = true"
        >Posted by: {{ post.user.username }}</small
      >
    </div>
    <br />
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ post.title }}</h5>
      <!--      <small>there could be a timestamp here</small>-->
    </div>
    <p class="mb-1">{{ post.description }}</p>
    <br />

    <small class="url" (click)="postClicked(post)">read more...</small>

    <!-- Button to Open the Modal -->
    <!-- The Modal -->
    <div class="modal" id="myModal2" [ngClass]="{ show: showModal }">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">View Profile</h4>
            <button type="button" class="close" (click)="showModal = false" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>
              <div class="form-group">
                <h4>Profile:</h4>
                <p>{{ post.user.username }}</p>
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger profileModalCloseTrigger"
              (click)="showModal = false"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
