<header class="header clearfix boardgroup">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <button type="button" (click)="returnToHome()" class="btn btn-primary">
          Home
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-link"
          data-toggle="modal"
          data-target="#myModal"
          (click)="showModal = true"
        >
          Leave a comment
        </button>
        <!--        <button type="button" class="btn btn-link" data-toggle="modal" data-target=#exampleModal>-->
        <!--        <button type="button" class="btn btn-link" data-target='#exampleModal'>-->
        <!--          Add-->
        <!--        </button>-->
      </li>
      <li class="nav-item">
        <button (click)="returnToProfile()" type="button" class="btn btn-link">
          Profile
        </button>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">VFX Forum | Comments</h3>
</header>

<main role="main">
  <app-show-comment></app-show-comment>
</main>

<!-- Button to Open the Modal -->
<!-- The Modal -->
<div class="modal" id="myModal" [ngClass]="{ show: showModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add a new comment</h4>
        <button type="button" class="close" (click)="showModal = false" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div *ngIf="comment" class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">content</label>
            <textarea
              name="description"
              class="form-control"
              [(ngModel)]="comment.content"
              id="exampleInputPassword1"
              placeholder="Content"
            >
            </textarea>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addComment()" (click)="showModal = false">
          Leave comment
        </button>
        <button type="button" class="btn btn-danger" (click)="showModal = false" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<footer class="footer boardgroup">
  <p>&copy; VFX Forum 2019</p>
</footer>
