<header class="header clearfix boardgroup">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <button type="button" (click)="returnToHome()" class="btn btn-primary returnToHome">
          Home
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-link clickModalTrigger"
          data-toggle="modal"
          data-target="#myModal"
          (click)="showModal = true"
        >
          Add a new board
        </button>
        <!--        <button type="button" class="btn btn-link" data-toggle="modal" data-target=#exampleModal>-->
        <!--        <button type="button" class="btn btn-link" data-target='#exampleModal'>-->
        <!--          Add-->
        <!--        </button>-->
      </li>
      <li class="nav-item">
        <button (click)="returnToProfile()" type="button" class="btn btn-link">
          Profile
        </button>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">VFX Forum | Boards</h3>
</header>

<main role="main">
  <app-show-board></app-show-board>
</main>

<!-- Button to Open the Modal -->
<!-- The Modal -->
<div class="modal" id="myModal" [ngClass]="{ show: showModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add a new board</h4>
        <button type="button" class="close" (click)="showModal = false" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input
              name="title"
              type="text"
              class="form-control"
              [(ngModel)]="board.title"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter title"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea
              name="description"
              class="form-control"
              [(ngModel)]="board.description"
              id="exampleInputPassword1"
              placeholder="Description"
            >
            </textarea>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addBoard()" (click)="showModal = false">
          Add
        </button>
        <button
          type="button"
          class="btn btn-danger buttonCloseModal"
          (click)="showModal = false"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<footer class="footer boardgroup">
  <p>&copy; VFX Forum 2019</p>
</footer>
